@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}


.avatar {
    position: sticky;
    height: fit-content;
    top: var(--static-space-64);
}

.cta {
    --idle-color: var(--brand-alpha-weak);

    background-color: var(--idle-color);
    border-color: var(--idle-color);

    span {
        color: var(--brand-on-background-medium);
    }

    &:hover {
        --hover-color: var(--brand-alpha-strong);

        background-color: var(--hover-color);
        border-color: var(--hover-color);
    }
}

@media (max-width: breakpoints.$s) {
    .avatar {
        top: auto;
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}